/*
  STYLING!
  CHECK THE NOTES. It might be a little confusing but I try and explain as best as I can.
*/
body{
	height: 340vh; /* 100vh x the number of slides + 40vh for the footer */
	margin: 0;
    color: #f3f6fb;
}

.slide{
	height: 100vh;
}

/* style for the slides */
.slide0{
	background-image: url(slide1.jpg);
    background-position: center;
    background-repeat: none;
    
	position: relative;
	z-index: 3; /* set the z-index so they stack. The first slide doesn't have a container so it gets a z-index */
}

/* */
.container1{
	position: absolute;
	top: 0;
	left: 0;
	height: 200vh; /* 100vh x the number of the slide (in this case, 2). This is so the script knows how far to scroll */
	z-index: 2; /* set the z-index on the containers ONLY (only the first slide needs an index) */
}

.slide1{
    width: 100vw; /* IMPORTANT: divs need a width if they're fixed or they won't be visible */
	position: fixed;
	background-image: url(slide2.jpg);
    background-position: center;
    background-repeat: none;
}

.container2{
	position: absolute;
	top: 0;
	left: 0;
	height: 300vh;
	z-index: 1;
}

.slide2{
	width: 100vw;
	position: fixed;
	background-image: url(slide3.jpg);
    background-position: center;
    background-repeat: none;
}

.container-footer{
  height: 340vh; /* the footer container is the height of the body */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

footer{
  height: 40vh;
  width: 100vw;
  position: fixed; /* the footer just needs to be fixed to the bottom of its container. it'll be visible when scrolling past the last slide */
  bottom: 0;
  right: 0;
  background-color: black;
}

h1{
  text-align: center;
  padding: 20vh;
}
